DATABASE_URL="postgresql://gualph:gualph_local_only@localhost:5432/gualph?schema=public"
JWT_SECRET="replace-with-a-random-secret-of-at-least-32-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
